version: '3'
services:

  directus:
    container_name: cs-directus
    restart: unless-stopped
    image: directus/directus:10.5.2
    ports:
      - 8055:8055
    volumes:
      - ./database:/directus/database
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    env_file: 
      - '.env'

      
      
